<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" name="Suite">
    <listeners>
    <listener class-name="testNGListeners.RetryListener"/>
</listeners>
    <test name="Galaxy_S7_API_27">
        <classes>
            <class name="Test.LoginScreenTest"/>
        </classes>
    </test>
    <test name="iPhone 6s">
        <classes>
            <class name="Test.LoginScreenTest"/>
        </classes>
    </test>
</suite>
